.container {
  width: 800px; 
  height: 800px;
  margin: 10% auto auto 15%;
  padding: 0;
  border: 5px solid black;
  
}

.row {
  width: 100%;

  display: flex; 
  margin: 0;
}

.column {
  flex: 1; 
  background-color: white; 
  border: 1px solid #fff; 
  justify-content: center;
  
}

.div{
  border: black;

}

body{
  background-image: linear-gradient(140deg, #EADEDB 0%, #393053 70%);
}
.button{
  margin-top: 50px;
}

footer{
  display: flex;
  justify-content: center;
  margin-top: 50px;

}

label{
  font-size: 25px;
}
.btn{
  height: 50px;

}



#dBtn{
  background-color: #393053;
  color: #fff;
  font-size: medium;
  border-radius: 15%;
  font-weight: bold;
}

#rBtn{
  background-image: linear-gradient(to right, red,orange,green,blue,indigo,violet);
  color: #ffffff;
  font-size: medium;
  border-radius: 5%;
  font-weight: bold;
}
#eBtn{
  font-size: medium;
  font-weight: bold;}

input{
  font-size: medium;
  height: 50px;
  border-radius: 5%;
  
  
}