.container {
  width: 800px; 
  height: 800px;
  margin: 10% auto auto 15%;
  padding: 0;
  border: 5px solid black;
  
}

.row {
  width: 100%;
  background-color: black;
  display: flex; 
  margin: 0;
}

.column {
  flex: 1; 
  background-color: white; 
  border: 1px solid #fff; 
  justify-content: center;
  
}

.div{
  border: black;

}

body{
  background-color: antiquewhite;
}
.button{
  margin-top: 50px;
}

footer{
  display: flex;
  justify-content: center;
  margin-top: 50px;

}

label{
  font-size: 25px;
}
.btn{
  height: 50px;

}